*{
  margin: 0;
  padding: 0;
   box-sizing:border-box ;
   background-color: yellow;
   font-family: 'Figtree', sans-serif;
  }
  .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  box-shadow: 5px 5px 0px 3px;
  margin-top: 10vh;
  border: 1px solid black;
  max-width: 370px;
  height: 500px;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
overflow: hidden;

}
img{
  border-radius: 15px;
  width: 100%;
  margin-bottom: 15px;
}
span{
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}
#publish{
  background-color: white;
  margin: 15px 0;
}
h1{
  background-color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
#para{
  background-color: white;
  margin-bottom: 30px;
  color: grey;
  font-size: 15px;
}
#user img{
width: 40px;
background-color: white;

}
#user{
  background-color: white;
}
.greg{
  position: relative;
  bottom: 25px;
  background-color: white;
}